<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Education_System_MVC_.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-primary border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand text-white fs-3 p-0" asp-area="" asp-controller="Home" asp-action="Index" lang="ar" dir="rtl">Odemy</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav me-auto">
                                 
                        @if (User.IsInRole(Roles.Role_Instructor) || User.IsInRole(Roles.Role_Admin))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white fs-18" asp-area="Admin" asp-controller="Category" asp-action="Index">Categories</a>
                            </li>
                        }
                  
                        @if (User.IsInRole(Roles.Role_Instructor))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white fs-18" asp-area="Instructor" asp-controller="Course" asp-action="MyIndex">My Courses</a>
                            </li>
                        }
                        @if (User.IsInRole(Roles.Role_Learner))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white fs-18" asp-area="Learner" asp-controller="LearnerCourse" asp-action="MyIndex">My Courses</a>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <partial name="_Notification" />
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted text-black">
        <div class="container">
            &copy; 2024 - Made by <i class="bi bi-heart-fill"></i> - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.tiny.cloud/1/ttbfcuqvrmr32w9wbgew2kpru2uz5y1io7yapx2v1vxlvw7y/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
